body {
    margin: 0;
    font-family: 'Bakbak One', cursive;
    text-align: center;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.container {
    display: flex;
    justify-content: space-around;
    background: transparent;
    color: whitesmoke;
    margin: 40px;
    border-radius: 20px;
}

h3 {
    font-family: 'Verdana';
    font-size: 40px;
    line-height: 36px;
    margin-top: 40px;
}

h2 {
    font-size: 90px;
    margin: 5px 10px 40px;
    background: black;
    color: #F94F6D;
}

button {
    margin-bottom: 40px;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    border-radius: 4px;
    background: transparent;
    margin-left: 5px;
    margin-right: 5px;
}

.buttonReset {
    margin: auto 5px;
    padding: 5px;
}

/* Challenge section */
.leader {
    background-color: goldenrod;
}